@use "@styles/_variables.scss" as *;

.related {
  padding: 2rem 0;
  font-family: sans-serif; 

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card {
    font-family: sans-serif; 

    &__category {
      font-size: 18px;
      color: $paragraph-color;
      font-weight: 700;
    }

    &__title {
      font-size: 26px;
      font-weight: 700;
      color: black;
    }

    &__desc {
      font-size: 18px;
      color: $paragraph-color;
      font-weight: 500;
    }

    &__price {
      font-size: 24px;
      font-weight: 700;
      color: black;
    }
  }

  
  .card:nth-child(4) {
    display: none;
  }
}


@media (max-width: 768px) {
  .related {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(4) {
      display: block;
    }
  }
}
