.hero-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #151411;
  font-family: 'Eudoxus Sans', sans-serif;
  margin-bottom: 20px;
  transition: font-size 0.3s ease;
}

.description {
  font-size: 18px;
  max-width: 800px;
  line-height: 180%;
  text-align: center;
  color: #AFADB5;
  font-family: 'Eudoxus Sans', sans-serif;
  margin-bottom: 50px;
}

.image-wrapper {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 1050px) {
  .title { font-size: 48px; }
}

@media (max-width: 768px) {
  .hero-container { padding-top: 80px; }
  .title { font-size: 32px; }
  .image-wrapper img { height: auto; }
}