.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.title {
  width: 268px;
  height: 83px;
  font-size: 64px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  color: #151411;
  font-family: 'Eudoxus Sans', sans-serif;
  margin-bottom: 20px;
}

.description {
  width: 505px;
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  text-align: center;
  color: #AFADB5;
  font-family: 'Eudoxus Sans', sans-serif;
  margin-bottom: 50px;
}

.image-wrapper {
  width: 1240px;
  height: 550px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1240px) {
  .image-wrapper {
    width: 90%;
    height: auto;
  }
  .description {
    width: 90%;
  }
}