.our-product {
  padding: 100px 0;
  background-color: #fafafaf1;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
  }

  /* LEFT SIDE */
  .left {
    flex: 1;

    .label {
      color:#FFB23F ;
      font-weight: 600;
      font-size: 14px;
      display: block;
      margin-bottom: 12px;
    }

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #222;
    }

    p {
      font-size: 15px;
      color: #666;
      line-height: 1.6;
      margin-bottom: 30px;
      max-width: 480px;
    }

    .btn {
      background-color: #5f7c78;
      color: #fff;
      padding: 12px 28px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 40px;

      &:hover {
        background-color: #4c6562;
      }
    }

    .small-image {
      width: 595px;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }

  /* RIGHT SIDE */
  .right {
    flex: 1;

    .stats {
      display: flex;
      gap: 40px;
      margin-bottom: 30px;

      .stat {
        h3 {
          font-size: 32px;
          font-weight: 700;
          color: #222;
        }

        span {
          font-size: 13px;
          color: #777;
        }
      }
    }

    .main-image {
      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: 992px) {
    .content {
      flex-direction: column;
    }

    .right {
      .stats {
        justify-content: space-between;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 60px 0;

    .left h2 {
      font-size: 28px;
    }

    .stats {
      flex-direction: column;
      gap: 20px;
    }
  }
}