@use "/src/styles/variables" as *;

.testimonialCard {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #f1f5f9;
  box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.10);
  max-width: 545px; 
  width: 100%;      
  height: 256px;

  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;

 
  .text {
    color: $paragraph-color;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 5px;
    flex-grow: 1;
    margin-top: 15px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-top: 10px;

    .user {
      display: flex;
      align-items: center;
      gap: 14px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: 700;
        color: $text-color;
        font-size: 20px;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px 10px;
      border-radius: 8px;

      .starIcon {
        width: 24px;
        height: 24px;
      }

      .score {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}