@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.productDetail {
    display: flex;
    column-gap: pxToRem(50);
    max-width: $container-max-width;
    margin-inline: auto;

    .imageWrapper {
        flex: 0 0 clamp(327px, calc((600/1240) * 100vw), 600px);
        max-width: 600px;
        height: 600px;

        .productImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        padding-block: 35px 22px;
        width: 590px;
    }

    .title {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        color: $text-color;
        margin-bottom: pxToRem(10);
        font-size: clamp(24px, calc((44/1240) * 100vw), 44px);
    }

    .subTitle {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        color: $paragraph-color;
        margin-bottom: pxToRem(30);
        font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
    }


    .colorsWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(20);
        margin-bottom: pxToRem(20);

        .colorTitle {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: $text-color;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        }

        .colorList {
            display: flex;
            list-style-type: none;
        }

        .colorRadio {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }

        .colorLabel {
            width: clamp(30px, calc((50/1240)*100vw), 50px);
            aspect-ratio: 1;
            cursor: pointer;
            background: #000;
            display: inline-block;
            transition: transform 100ms ease-in-out;
        }

        .colorRadio:checked+.colorLabel {
            transform: translateY(-10px);
        }

    }

    .descriptionWrapper {
        margin-bottom: pxToRem(30);

        .description {
            flex: 0 0 590px;
            height: 96px;
            line-clamp: 3;
            line-height: 1.8;
            font-weight: 500;
            overflow: hidden;
            letter-spacing: 0;
            display: -webkit-box;
            color: $paragraph-color;
            -webkit-box-orient: vertical;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        }

        .readMoreBtn {
            font-weight: 500;
            line-height: 1.8;
            letter-spacing: 0%;
            border: none;
            color: $main-color;
            background: none;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
            width: fit-content;
            cursor: pointer;
        }
    }

    .price {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        margin-bottom: pxToRem(60);
        font-size: clamp(24px, calc((44/1240) * 100vw), 44px);
    }

    .buttonsWrapper {
        display: flex;
        gap: pxToRem(20);
        flex-wrap: wrap;

        .buyNow {
            // max-width: 285px;
            flex: 0 1 285px;
            height: 58px;
            color: $white;
            background: $main-color;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            letter-spacing: 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .addToChart {
            // max-width: 285px;
            flex: 0 1 285px;
            height: 58px;
            color: $black;
            background: $white;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            letter-spacing: 0;
            cursor: pointer;
            border: 2px solid #F3F3F3;
        }
    }

}

@include max($desktop-m) {
    .productDetail {
        flex-direction: column;
        align-items: center;
        margin-inline: pxToRem(24);
        gap: pxToRem(30);
    }
}

@include max($tablet-m) {
    .productDetail {

        .productInfo {
            width: 100%;
            padding-block: 0;

            .title {
                margin-bottom: 4px;
            }

            .subTitle {
                margin-bottom: 20px;
            }

            .colorsWrapper {
                gap: 6px;
                margin-bottom: 20px;
            }

            .descriptionWrapper {
                margin-bottom: 20px;
            }

            .price {
                margin-bottom: 30px;
            }
        }
    }
}

@include max($tablet-s) {
    .productDetail {
        .productInfo {
            .buttonsWrapper {
                * {
                    flex: 0 0 100%;
                }
            }
        }
    }
}