@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.productDetail {
    display: flex;
    column-gap: pxToRem(50);

    .imageWrapper {
        flex: 0 0 600px;
        aspect-ratio: 1;

        .productImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        color: $text-color;
        font-size: clamp(24px, calc((44/1240) * 100vw), 44px);
    }

    .subTitle {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        color: $paragraph-color;
        font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
    }


    .colorsWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(20);

        .colorTitle {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: $text-color;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        }

        .colorList {
            display: flex;
            list-style-type: none;
        }

        .colorCheckbox {
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .colorLabel {
            width: 50px;
            height: 50px;
            background: #000;
            display: inline-block;
            cursor: pointer;
        }

    }

    .descriptionWrapper {

        .description {
            width: 590px;
            height: 96px;
            line-height: 1.8;
            font-weight: 500;
            letter-spacing: 0;
            color: $paragraph-color;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        }

        .readMoreBtn {
            font-weight: 500;
            line-height: 1.8;
            letter-spacing: 0%;
            border: none;
            color: $main-color;
            background: none;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
            width: fit-content;
            cursor: pointer;
        }
    }

    .price {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        font-size: clamp(24px, calc((44/1240) * 100vw), 44px);
    }

    .buttonsWrapper {
        display: flex;
        gap: pxToRem(20px);

        .buyNow {
            flex: 0 0 285px;
            height: 58px;
            color: $white;
            background: $main-color;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            letter-spacing: 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .addToChart {
            flex: 0 0 285px;
            height: 58px;
            color: $black;
            background: $white;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            letter-spacing: 0;
            border: none;
            cursor: pointer;
        }
    }




}