@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.popular {
    margin-block: pxToRem(180);

    .popularSwiper {
        min-height: fit-content;
        position: relative;
    }

    .swiperButtons {
        width: 52px;
        height: 52px;
        display: flex;
        position: absolute;
        align-items: center;
        border-radius: 100%;
        justify-content: center;
        background: #15141199;
        backdrop-filter: blur(15px);
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        border: none;
        cursor: pointer;
    }

    .swiperPrevButton {
        @extend .swiperButtons;
        left: 50px;
    }

    .swiperNextButton {
        @extend .swiperButtons;
        right: 50px;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: fit-content;
        margin-inline: auto;
        text-align: center;

        .sectionTitle {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: #FFB23F;
            font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        }

        .mainTitle {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: #151411;
            margin-bottom: 30px;
            font-size: clamp(24px, calc((44/1240) * 100vw), 44px);
        }
    }

    .popularText {
        max-width: 656px;
        width: 656px;
        color: #AFADB5;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 50px;
        text-wrap-mode: wrap;
        font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
        margin-inline: auto;
    }

}

@include max($tablet-m) {
    .popular {
        padding-inline: pxToRem(24);

        .popularText {
            width: 100%;
        }

        .swiperButtons {
            display: none;
        }
    }
}