@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.article {
    display: grid;
    gap: pxToRem(50);
    margin-inline: auto;
    font-family: $font-primary;
    max-width: $container-max-width;
    grid-template-columns: repeat(2, 1fr);

    .leftContent {
        display: flex;
        flex-direction: column;
    }

    .leftContentHeader {
        display: flex;
        gap: pxToRem(14);
        flex-direction: column;
        margin-bottom: pxToRem(30);
    }

    .sectionTitle {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        color: $secondary-color;
        font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
    }

    .leftContentTitle {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        color: $text-color;
        font-size: clamp(24px, calc((44/1240)*100vw), 44px);
    }

    .leftContentText {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        color: $paragraph-color;
        margin-bottom: pxToRem(50);
        font-size: clamp(14px, calc((18/1240)*100vw), 18px);
    }

    .imageWrapper {
        max-width: 582px;
        width: 582px;
        height: 565px;
        position: relative;

        .imageShadow {
            position: absolute;
            inset: 0;
            z-index: 0;
            background: linear-gradient(180deg, rgba(21, 20, 17, 0) 34.49%, #151411 166.09%);
        }

        .leftContentImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .imageTextWrapper {
            display: flex;
            flex-direction: column;
            gap: pxToRem(10);
            position: absolute;
            top: 379px;
            left: 26px;
            color: $white;

            .categoryText {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.8;
                letter-spacing: 0;
                opacity: 70%;
            }
        }

        .imageDescriptionWrapper {
            display: flex;
            flex-direction: column;
            gap: pxToRem(14);

            .imageTitleWrapper {
                display: flex;
                flex-direction: column;
                gap: pxToRem(14);

                .imageTitle {
                    font-weight: 700;
                    line-height: 1.3;
                    letter-spacing: 1;
                    font-size: clamp(16px, calc((26/1240) * 100vw), 26px);
                }

                .description {
                    opacity: 70%;
                    width: 530px;
                    font-weight: 500;
                    line-height: 1.8;
                    letter-spacing: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: clamp(14px, calc((18/1240) * 100vw), 18px);
                }

            }

            .readMoreBtn {
                width: fit-content;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;

                .readMoreText {
                    color: $white;
                    font-weight: 500;
                    line-height: 1.8;
                    letter-spacing: 0;
                    user-select: none;
                    pointer-events: none;
                    font-size: clamp(12px, calc((18/1240)*100vw), 18px);
                }

            }

        }

        .directionButtons {
            display: flex;
            margin-top: -20px;
            justify-content: end;
            position: relative;

            .directionBtn {
                width: 70px;
                height: 70px;
                padding: 21px;
                cursor: pointer;
                border: none;

                &:first-child {
                    background: $white;
                    box-shadow: 0px 4px 90px 0px #AFADB533;
                    color: $main-color;
                    transform: rotate(180deg);
                }

                &:last-child {
                    background: $main-color;
                    box-shadow: 0px 4px 80px 0px #AFADB533;
                    color: $white;
                }
            }
        }
    }

    .rightContent {
        display: flex;
        flex-direction: column;
        gap: pxToRem(30);
        padding-top: pxToRem(40);
    }

}

@include max($desktop-m) {
    .article {
        grid-template-columns: 1fr;
        place-items: center;
        padding-inline: pxToRem(24);

        .leftContent {
            align-items: center;
        }


        .imageWrapper {
            width: 100%;
        }
    }
}

@include max($tablet-s) {
    .article {
        place-items: start;
        gap: pxToRem(24);

        .leftContent {
            width: 100%;
        }

        .leftContentHeader {
            margin-bottom: pxToRem(16);
        }

        .leftContentText {
            margin-bottom: pxToRem(30);
        }

        .leftContentTitle {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: $text-color;
            font-size: clamp(16px, calc((44/1240)*100vw), 44px);
        }

        .imageWrapper {
            max-width: 100%;
            width: 100%;
            max-height: 200px;

            .leftContentImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .imageTextWrapper {
                top: 58px;
                left: 14px;
                gap: pxToRem(6);
                max-width: 289px;
                width: 100%;
            }

            .imageDescriptionWrapper {
                gap: pxToRem(12);

                .imageTitleWrapper {
                    gap: pxToRem(6);

                    .description {
                        width: 100%;
                    }
                }
            }

            .directionButtons {
                display: none;
            }
        }

        .rightContent {
            padding-top: 0;
        }
    }
}

@include max($mobile-s) {
    .article {
        .imageWrapper {
            .imageTextWrapper {
                top: 45px;
                left: 0;
                gap: pxToRem(2);
            }
        }
    }
}