@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.articleCard {
    display: flex;
    gap: pxToRem(26);
    max-width: 615px;
    font-family: $font-primary;
    align-items: center;

    &ImageWrapper {
        height: 260px;
        width: 260px;
        min-width: 260px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Content {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16);
    }

    &Top {
        display: flex;
        flex-direction: column;
        gap: pxToRem(21);

    }

    &Category {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        color: $paragraph-color;
        font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
    }

    &TitleWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(14);
        max-width: 329px;
        width: 329px;
    }

    &Title {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        font-size: clamp(16px, calc((24/1240) * 100vw), 24px);
        color: $text-color;
        text-wrap-mode: wrap;
    }

    &Description {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
        width: 260px;
        color: $paragraph-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &Bottom {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: pxToRem(24);

        &Date {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0;
            color: $paragraph-color;
        }
    }

    &Author {
        display: flex;
        gap: 1.5px;
        align-items: center;

        img {
            width: 28px;
            aspect-ratio: 1;
            border-radius: 100%;

        }

        &Name {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: $text-color;
            font-size: clamp(12px, calc((14/1240)* 100vw), 14px);
        }

    }
}

@include max($tablet-s) {

    .articleCard {
        width: 100%;
        gap: pxToRem(14);

        &ImageWrapper {
            min-width: 200px;
            height: 200px;
        }
    }

}

@include max($mobile-l) {
    .articleCard {

        &Top {
            gap: pxToRem(4);
        }

        &ImageWrapper {
            min-width: 110px;
            height: 110px;
        }

        &Description {
            display: none;
        }

        &Bottom {
            &Date {
                display: none;
            }
        }
    }
}


@include max($mobile-s) {
    .articleCard {
        flex-direction: column;

        &ImageWrapper {
            width: 100%;
            height: 100%;
        }
    }
}