@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.article {
    margin-inline: auto;
    font-family: $font-primary;
    max-width: $container-max-width;
}

.swiper {

    .swiperWrapper {
        position: relative;
        height: 840px;
        overflow: hidden;
    }

    .swiperSlide {
        display: grid;
        column-gap: 50px;
        row-gap: 30px;
        grid-template-columns: 1fr auto;
    }

}