@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;
@use "/src/styles/mixins" as *;

.articleCard:first-child {
    position: relative;
    max-width: 582px;

    grid-column-start: 1;
    grid-row: 2 / span 2;
    margin-top: -60px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    .imageWrapper {
        max-width: 582px;
        height: 565px;
        position: relative;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .imageShadow {
            position: absolute;
            inset: 0;
            z-index: 0;
            background: linear-gradient(180deg, rgba(21, 20, 17, 0) 34.49%, #151411 166.09%);
        }
    }

    .cardContent {
        inset: 0;
        display: flex;
        align-items: end;
        position: absolute;
        padding-left: pxToRem(26);
        padding-bottom: pxToRem(66);
    }

    .cardTextWrapper {
        display: flex;
        gap: pxToRem(14);
        flex-direction: column;
    }

    .cardTop {

        .cardCategory {
            font-weight: 500;
            line-height: 1.8;
            letter-spacing: 0;
            color: $white;
            font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
            opacity: 70%;
        }

        .titleWrapper {
            display: flex;
            flex-direction: column;
            gap: pxToRem(14);
        }

        .cardTitle {
            color: $white;
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 1;
            text-wrap-mode: wrap;
            font-size: clamp(16px, calc((24/1240) * 100vw), 26px);
        }

        .cardDescription {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.8;
            letter-spacing: 0;
            font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
            width: 530px;
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 70%;
        }
    }

    .readMoreBtn {
        width: 93px;
        height: 32px;
        display: inline-block;
        text-decoration: none;
        color: $white;
    }

    .cardBottom {
        display: none;
    }

}

.articleCard:not(:first-child) {
    display: flex;
    gap: pxToRem(26);
    grid-column-start: 2;
    grid-row: auto;

    .imageShadow {
        display: none;
    }

    .imageWrapper {
        flex: 0 0 clamp(110px, 25vw, 260px);
        height: clamp(110px, 25vw, 260px);

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .cardContent {
        inset: 0;
        display: flex;
        align-items: center;
    }


    .cardTextWrapper {
        max-width: 329px;
        display: flex;
        gap: pxToRem(16);
        flex-direction: column;
    }

    .cardTop {
        display: flex;
        gap: pxToRem(21);
        flex-direction: column;
    }

    .cardCategory {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        color: $paragraph-color;
        font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(14);
    }

    .cardTitle {
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0;
        font-size: clamp(16px, calc((24/1240) * 100vw), 24px);
        color: $text-color;
        text-wrap-mode: wrap;
    }

    .cardDescription {
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0;
        font-size: clamp(12px, calc((18/1240) * 100vw), 18px);
        width: 260px;
        color: $paragraph-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .readMoreBtn {
        display: none;
    }

    .cardBottom {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: pxToRem(24);

        .cardDate {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.8;
            letter-spacing: 0;
            color: $paragraph-color;
        }
    }

    .cardAuthor {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 28px;
            aspect-ratio: 1;
            border-radius: 100%;
        }

        .cardAuthorName {
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0;
            color: $text-color;
            font-size: clamp(12px, calc((14/1240)* 100vw), 14px);
        }
    }
}