@use "/src/styles/variables" as *;

.error {
  display: grid;
  justify-content: center;
  max-width: 852px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  .error__content {
    display: grid;
    gap: 60px;
    @media (max-width: 1024px) {
      gap: 30px;
    }
    .error__title {
      color: $text-color;
      font-size: 44px;
      font-weight: 700;
      line-height: 130%;

      @media (max-width: 1024px) {
        font-size: 32px;
      }
    }
    .error__images {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        @media (max-width: 1024px) {
          max-width: 100px;
        }
      }
    }
    .error__text {
      display: grid;
      gap: 10px;
      @media (max-width: 1024px) {
        gap: 5px;
      }
      .error__message {
        color: $paragraph-color;
        line-height: 180%;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
      .error__messageWrapper {
        display: grid;
        gap: 14px;
        justify-content: center;
        @media (max-width: 1024px) {
          gap: 10px;
        }
        .error__subtitle {
          color: $text-color;
          font-size: 24px;
          font-weight: 700;
          line-height: 130%;
          @media (max-width: 1024px) {
            font-size: 14px;
          }
        }
        .error__button {
          padding: 15px 30px;
          background-color: $main-color;
          color: $white;
          font-size: 18px;
          font-weight: 700;
          line-height: 130%;
          border-radius: 8px;
          border: none;
          width: fit-content;
          margin: 0 auto;
          display: flex;
          gap: 18px;
          align-items: center;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          @media (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
