@use "../../styles/variables" as *;

.productCard {
  display: grid;
  gap: 26px;
  font-family: $font-primary;
  width: 394px;

  .imageContainer {
    width: 100%;
    height: 360px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .productInfo {
    display: grid;
    gap: 14px;
    h5 {
      color: $paragraph-color;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
    }
    .content {
      display: grid;
      gap: 18px;
      h4 {
        color: $text-color;
        font-size: 24px;
        line-height: 1.3;
      }
      .productDetails {
        display: grid;
        gap: 6px;
        h3 {
          font-size: 26px;
        }
        p {
          color: $paragraph-color;
          font-size: 18px;
          line-height: 1.8;
          font-weight: 500;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .productCard {
    width: 220px;
    .imageContainer {
      height: 194px;
    }
    .productInfo {
      h5 {
        font-size: 12px;
      }
      .content {
        h4 {
          font-size: 16px;
        }
        .productDetails {
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
