@mixin max($screen) {
  @media screen and (max-width: $screen) {
    @content;
  }
}

@mixin min($screen) {
  @media screen and (min-width: $screen) {
    @content;
  }
}



/* Headings */

// @mixin h1 {
//   font-family: $font-primary;
//   font-size: $h1-size;
//   font-weight: $h1-weight;
//   line-height: $h1-line-height;
// }

// @mixin h3plus {
//   font-family: $font-primary;
//   font-size: $h3plus-size;
//   font-weight: $h3plus-weight;
//   line-height: $h3plus-line-height;
// }

// @mixin h5 {
//   font-family: $font-primary;
//   font-size: $h5-size;
//   font-weight: $h5-weight;
//   line-height: $h5-line-height;
// }

// /* Paragraphs */

// @mixin p3 {
//   font-family: $font-primary;
//   font-size: $p3-size;
//   font-weight: $p3-weight;
//   line-height: $p3-line-height;
// }