@use "@styles/_functions.scss" as *;

/*
 * Colors
 *
 * configure the colors required for the project here
 * */
$white: #ffffff;
$black: #000000;

/*
 * Typography and font sizes
 *
 * configure the typography and font sizes required for the project here
 * */

// font familly
$primary-font: "Inter", sans-serif;

//font-sizes
$font-base: pxToRem(16);

//font-weight
$font-regular: 400;

/*
 * Screen Breakpoints
$desktop-xl: 1920px;
 $desktop-l: 1440px;
 $desktop-m: 1200px;
 $desktop-s: 1024px;
 $tablet-l: 992px;
 $tablet-m: 768px;
 $tablet-s: 640px;
 $mobile-l: 576px;
 $mobile-m: 480px;
 $mobile-s: 320px;


 * */

 $desktop-xl: 1920px;
 $desktop-l: 1440px;
 $desktop-m: 1200px;
 $desktop-s: 1024px;
 $tablet-l: 992px;
 $tablet-m: 768px;
 $tablet-s: 640px;
 $mobile-l: 576px;
 $mobile-m: 480px;
 $mobile-s: 320px;
