@use "@styles/_functions.scss" as *;

/*
 * Colors
 */
$white: #ffffff;
$black: #000000;
$paragraph-color: #AFADB5;
$text-color: #151411;
$main-color: #518581;
$secondary-color: #FFB23F;

/*
 * Typography
 */

// Font family
$font-primary: 'Eudoxus Sans', system-ui, -apple-system, sans-serif;

// Base font size
$font-base: pxToRem(16);

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* Headings / H1 - Bold - 64 */
$h1-size: pxToRem(64);
$h1-weight: $fw-bold;
$h1-line-height: 1.1;

/* Headings / H3+ - Bold - 26 */
$h3plus-size: pxToRem(26);
$h3plus-weight: $fw-bold;
$h3plus-line-height: 1.3;

/* Heading / H5 - Bold - 18 */
$h5-size: pxToRem(18);
$h5-weight: $fw-bold;
$h5-line-height: 1.4;

/* Paragraph / P3 - Medium - 18 */
$p3-size: pxToRem(18);
$p3-weight: $fw-medium;
$p3-line-height: 1.6;

/*
 * Breakpoints
 */
$desktop-xxl: pxToRem(1920);
$desktop-xl: pxToRem(1600);
$desktop-l: pxToRem(1440);
$desktop-m: pxToRem(1200);
$desktop-s: pxToRem(1024);
$tablet-l: pxToRem(992);
$tablet-m: pxToRem(768);
$tablet-s: pxToRem(640);
$mobile-l: pxToRem(576);
$mobile-m: pxToRem(480);
$mobile-s: pxToRem(320);