@use "@styles/_variables.scss" as *;

.icon-container {
  width: 64px;
  height: 64px;
  $paragraph-color:$paragraph-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  .benefit-icon {
    width: 32px; 
    height: 32px;
    display: block; 
    object-fit: contain;
  }
}
.benefits-section {
  padding: 80px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  
  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .title-area {
      flex: 1;
      .subtitle {
        $secondary-color: #FFB23F;
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
      }
      .main-title {
        font-size: 36px;
        font-weight: 700;
       $secondary-color: #FFB23F;
        line-height: 1.2;
        max-width: 450px;
      }
    }

    .description-area {
      flex: 0 0 35%;
      p {
        $paragraph-color: #AFADB5;
        line-height: 1.6;
        font-size: 16px;
      }
    }
  }


  .benefits-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr); 
    }

    .benefit-card {
      background: #fff;
      padding: 40px;
      border-radius: 8px;
      transition: all 0.3s ease;
      border: 2px solid transparent;

      
      .icon-container {
        width: 60px;
        height: 60px;
        background: #F9F9F9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin-bottom: 25px;
      }

      h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        $black:#000000;
      }

      p {
        $paragraph-color: #AFADB5;
        line-height: 1.5;
      }

      
      

      
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0,0,0,0.08); 
        
        
        
      }
    }
  }
}
