@use "../../styles/variables.scss" as *;

.wrapper {
  width: 100%;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 64px 24px;
}

.TrendingTopicsTitle {
  color: $secondary-color;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.PopularLastWeek {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
  color: #000;
}

/* BUTTON ROW */

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 32px;
  flex-wrap: nowrap; // alta düşmez
}

/* CATEGORY + FILTER ORTAK STİL */

.button,
.exploreButton {
  height: 36px; //  aynı yükseklik
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.3s ease;
}

/* CATEGORY BUTTON */

.button {
  background: transparent;
  border: 1px solid transparent; // yükseklik farkını önler
}

.activeTab {
  color: $text-color;
  box-shadow: 0px 4px 120px 0px #afadb526;
}

.inactiveTab {
  color: #888;
}

/* FILTER WRAPPER */

.sortWrapper {
  position: relative;
  display: inline-block;
}

/* FILTER BUTTON */

.exploreButton {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  gap: 6px;
}

.exploreButton:hover {
  background-color: $paragraph-color;
  color: white;
  border-color: $paragraph-color;
}

.filterIcon {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

/* DROPDOWN */

.dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%; // butonla aynı genişlik
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.dropdown button {
  height: 36px;
  padding: 0 14px;
  background: none;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background 0.2s ease;
}

.dropdown button:hover {
  background: #f5f5f5;
}

.activeOption {
  font-weight: 600;
  background: #f0f0f0;
}

/* ARTICLES */

.articlesContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.articleCard {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.articleImage {
  width: 210px;
  height: 210px;
  object-fit: cover;
  flex-shrink: 0;
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 700px;
}

.articleTitle {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin: 0;
}

.articleContext {
  white-space: pre-line;
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin: 0;
}
.articleMeta {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.articleIconUser {
  width: 28px;
  height: 28px;
}
.authorName {
  font-size: 14px;
  font-weight: $fw-bold;
  font-family: $font-primary;
}
.publishDate {
  font-size: 14px;
  color: $paragraph-color;
  font-family: $font-primary;
  font-weight: $fw-medium;
}
