@use "@styles/_variables.scss" as *;


// Alttaki metinlerin her zaman okunması için sabit gradyan


.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    gap: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__subtitle {
    color: $secondary-color;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }

  &__main-title {
    font-size: 44px;
    font-weight: 700;
    color:$text-color;
    font-family: sans-serif;
    max-width: 400px;
    line-height: 1.2;
  }

  &__intro {
    max-width: 400px;
  }

  &__description {
    color: $paragraph-color;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__link {
    color:$main-color;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 18px;
    
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: repeat(2, 300px);
    gap: 24px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}

.portfolio-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &--large {
    grid-row: span 2;
    height: 100%;
    @media (max-width: 992px) { height: 400px; }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

  &__overlay {
    position: absolute;
    inset: 0;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: white;
  }

  &__title {
    font-size: 26px;
    margin-bottom: 8px;
    font-weight: 700;
    font-family: sans-serif;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 15px;
    max-width: 85%;
  }

  &__detail-link {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-start;
  }
}